/* 
    Document   : tablas
    Created on : Nov 6, 2013, 6:47:03 PM
    Author     : OIMA
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.fila:hover{
    background-color: #bbb;
    color: #ffffff;
}

#title, .nombreFila{
    background-color: #59ACFF;
    color: #fff;
    text-align: center;
}

#horas{
    background-color: #444;
}

.nombreFila{
    width: 10%;
}

.editable{
    width: 18%;
}

.editable:hover{
    background-color: #EEE;
}